.main {
  color: #ffffff;
  height: 100vh;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.title {
  position: fixed;
  top: .75rem;
  left: 1.5rem;
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bolder;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  img{
    height: 2.5rem;
  }
}
