:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*
  CSS to override React phone input external components -- START
*/

.react-tel-input .flag-dropdown{
  border-radius: 8px !important;  
}

.react-tel-input .flag-dropdown .selected-flag{
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.react-tel-input .selected-flag {
  background-color: #2a2a2a !important;
}

.react-tel-input .country-list{
  background-color: #2a2a2a !important;
}

.react-tel-input .country-list li:hover{
  background-color: #0a0a0a !important;
}

.react-tel-input .country-list .highlight{
  background-color: #0a0a0a !important;
}

/*
  CSS to override React phone input external components -- END
*/

